{% extends 'homepage/layout.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}
<!-- Hero start -->
<section id="hero" class="px-4 py-5">
  <div class="container d-flex flex-column flex-lg-row-reverse justify-content-between align-items-center py-5">
      <div class="col-lg-5">
          <img src="static/MCU/images/bgHero.png" class="d-block mx-auto img-fluid mb-2" alt="Medical Check Up PT XXX" loading="lazy">
      </div>
      <div class="col-lg-6">
          <h1 class="fw-bold mb-1"><span class="text-primary">Your Health</span> Our Priority</h1>
          <p class="lead mb-1 text-secondary"><i>Comprehensive Medical Check-Up Services at PT. XXX</i></p>
          <p class="lead mb-1 text-justify">
              Protect your health and that of your loved ones with our comprehensive and professional medical check-up services. With an experienced medical team and state-of-the-art facilities, we’re here to help you detect, prevent, and manage health issues early. Get your health checked today and secure a healthier future!
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-between align-items-center">
              <p class="lead mb-1 text-secondary"><i>"Early Detection, Better Life"</i></p>
              <a class="btn btn-outline-primary btn-lg fw-bold rounded-0" href="#Services">Book Now &raquo;</a>
          </div>
      </div>
  </div>
</section>
<!-- Hero end -->

<!-- Sevices start -->
<section id="services" class="py-5 bg-light">
  <div class="container py-5">
      <h1 class="text-center fw-bold text-primary">OUR SERVICES</h1>
      <p class="lead mb-5 text-secondary text-center"><i>Comprehensive Medical Check-Up Services at PT. XXX</i></p>
      <div class="d-flex flex-wrap justify-content-center gap-5">
          <div class="card rounded shadow border" style="width: 20rem;">
              <img src="static/MCU/images/daftar.png" class="card-img-top" alt="MCU Registration">
              <div class="service-overlay"></div>
              <a href="#" class="btn px-4 btn-light btn-services fw-bold rounded-0">Book Now</a>
              <div class="card-body card-services rounded-bottom bg-light text-dark p-0">
                  <h5 class="card-title bg-primary p-2 text-light gap-2 fw-bold d-flex align-items-center"> 
                      <span>
                          <svg class="text-light arrow-services" width="20px" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M9 5l7 7-7 7" /></svg>
                      </span> Register Your MCU
                  </h5>
                  <p class="card-text text-secondary px-3 pb-2 text-truncate-4 text-justify">Easily registering your medical check-up here. Our efficient registration process can streamline the review process, without any hassle.</p>
              </div>
          </div>
          <div class="card rounded shadow border" style="width: 20rem;">
              <img src="static/MCU/images/pemeriksaan.png" class="card-img-top" alt="MCU Activity">
              <div class="service-overlay"></div>
              <a href="#" class="btn px-4 btn-light btn-services fw-bold rounded-0">Book Now</a>
              <div class="card-body card-services rounded-bottom bg-light text-dark p-0">
                  <h5 class="card-title bg-primary p-2 text-light gap-2 fw-bold d-flex align-items-center"> 
                      <span>
                          <svg class="text-light arrow-services" width="20px" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M9 5l7 7-7 7" /></svg>
                      </span> Complete Your Examination
                  </h5>
                  <p class="card-text text-secondary px-3 pb-2 text-truncate-4 text-justify">Get a professional, comprehensive medical examination in our state-of-the-art facilities to ensure you receive the highest quality care.</p>
              </div>
          </div>
          <div class="card rounded shadow border" style="width: 20rem;">
              <img src="static/MCU/images/certificate.png" class="card-img-top" alt="MCU Certificate">
              <div class="service-overlay"></div>
              <a href="#" class="btn px-4 btn-light btn-services fw-bold rounded-0">Book Now</a>
              <div class="card-body card-services rounded-bottom bg-light text-dark p-0">
                  <h5 class="card-title bg-primary p-2 text-light gap-2 fw-bold d-flex align-items-center"> 
                      <span>
                          <svg class="text-light arrow-services" width="20px" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M9 5l7 7-7 7" /></svg>
                      </span> Generate Your Certificate
                  </h5>
                  <p class="card-text text-secondary px-3 pb-2 text-truncate-4 text-justify">You can generate your medical check-up result to your own medical check-up certificate automatically</p>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}